# Frontend
node_modules/
build/
dist/
coverage/
.DS_Store
*.log

# Environment variables
.env
.env.*
!.env.example

# Python & Virtual Environment
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.so

# Datasets
data/raw/
data/processed/
data/feedback/images/

# Models
models/pretrained/
models/trained/
models/archive_old/
*.bin
*.pth
*.safetensors

# Application storage & database
uploads/
database/*.db
*.sqlite3
**/*.db
data.zip
data/raw.zip
scratch/
