# Frontend
node_modules/
build/
dist/
coverage/
.DS_Store
*.log

# Environment variables
.env
.env.*
!.env.example

# Python & Virtual Environment
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.so

# Datasets
data/raw/
data/processed/

# Models
models/pretrained/
models/trained/

# Application storage & database
uploads/
database/*.db
*.sqlite3
